button {
    background-color: #4aaaa5;
    color: white;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    margin: 10px;
    border-radius: 15px;
}

div, form, input {
    margin: 10px;
}

.my-gif {
    margin: 10px;
}

.rating-text {
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    font-weight: bold;
}

.final-gif {
    float: left;
}

.btn {
    background-color: #4aaaa5;
    color: white;
}
